* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Customize left and right arrow buttons */
.swiper-button-next,
.swiper-button-prev {
  color: #5b1ce3; /* Set arrow color */
  width: 30px; /* Smaller width for the arrows */
  height: 30px; /* Smaller height for the arrows */
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px; /* Adjust the size of the arrow icons */
}

/* Optional: Adjust position of navigation buttons if needed */
.swiper-button-prev {
  left: 10px; /* Adjust left button position */
}

.swiper-button-next {
  right: 10px; /* Adjust right button position */
}
